<?xml version="1.0" encoding="UTF-8" ?>
<routes>

    <!-- Un authorized public routes. -->
    <route id="Home" path="/home" methods="GET|POST" authorization="ANONYMOUS_USER">
        <action id="controller">Home:index</action>
    </route>

    <route id="Login" path="/login" methods="GET|POST" authorization="ANONYMOUS_USER">
        <action id="controller">Authentication:index</action>
    </route>

    <route id="logout" path="/logout" methods="GET|POST" authorization="ANONYMOUS_USER">
        <action id="controller">Authentication:logout</action>
    </route>

    <route id="Contact" path="/contact" methods="GET|POST" authorization="ANONYMOUS_USER">
           <action id="controller">Home:contact</action>
    </route>

    <route id="Register" path="/register" methods="GET|POST" authorization="ANONYMOUS_USER">
        <action id="controller">Authentication:register</action>
    </route>

    <route id="Portfolio" path="/portfolio/{student_name}" methods="GET" authorization="ANONYMOUS_USER">
        <action id="controller">Portfolio:index</action>
    </route>

    <route id="Portfolio" path="/portfolio/{student_name}/{page}" methods="GET" authorization="ANONYMOUS_USER">
        <action id="controller">Portfolio:index</action>
    </route>

    <route id="RawPortfolio" path="/raw/{student_name}" methods="POST|GET" authorization="ANONYMOUS_USER">
        <action id="controller">Raw</action>
    </route>

    <!-- Authorized user management routes. -->
    <route id="Admin" path="/admin/gebruikersOverzicht" methods="GET" authorization="ADMIN">
        <action id="controller">UserManagement:userOverview</action>
    </route>

    <route id="Admin" path="admin/addTeacher" methods="GET|POST" authorization="ADMIN">
        <action id="controller">UserManagement:insertTeacher</action>
    </route>

    <route id="Admin" path="admin/addStudent" methods="GET|POST" authorization="ADMIN">
        <action id="controller">UserManagement:insertStudent</action>
    </route>

    <route id="Admin" path="/admin/editStudent/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">UserManagement:editStudent</action>
    </route>

    <route id="Admin" path="/admin/editTeacher/{id}" methods="GET|POST" authorization="TEACHER">
        <action id="controller">UserManagement:editTeacher</action>
    </route>

    <!-- Authorized portfolio management -->
    <route id="Admin" path="/admin/portfolioOverzicht/{id}" methods="GET" authorization="STUDENT">
        <action id="controller">PortfolioManagement:portfolioOverview</action>
    </route>

    <route id="Admin" path="/admin/portfoliosOverzicht" methods="GET|POST" authorization="ADMIN">
        <action id="controller">PortfolioManagement:portfoliosOverview</action>
    </route>

    <route id="Admin" path="/admin/addPortfolio" methods="GET|POST" authorization="ADMIN">
        <action id="controller">PortfolioManagement:addPortfolio</action>
    </route>

    <!-- Authorized portfolio management edit portfolio items -->
    <route id="Admin" path="/admin/editSkill/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editSkill</action>
    </route>

    <route id="Admin" path="/admin/editTraining/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editTraining</action>
    </route>

    <route id="Admin" path="/admin/editHobby/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editHobby</action>
    </route>

    <route id="Admin" path="/admin/editLanguage/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editLanguage</action>
    </route>

    <route id="Admin" path="/admin/editJobExperience/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editJobExperience</action>
    </route>

    <route id="Admin" path="/admin/editSlbAssignment/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editSlbAssignment</action>
    </route>

    <route id="Admin" path="/admin/editImage/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editImage</action>
    </route>

    <route id="Admin" path="/admin/editProject/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:editProject</action>
    </route>

    <!-- Authorized portfolio management add portfolio items -->
    <route id="Admin" path="/admin/addSkill/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addSkill</action>
    </route>

    <route id="Admin" path="/admin/addTraining/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addTraining</action>
    </route>

    <route id="Admin" path="/admin/addHobby/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addHobby</action>
    </route>

    <route id="Admin" path="/admin/addLanguage/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addLanguage</action>
    </route>

    <route id="Admin" path="/admin/addJobExperience/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addJobExperience</action>
    </route>

    <route id="Admin" path="/admin/addSlbAssignment/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addSlbAssignment</action>
    </route>

    <route id="Admin" path="/admin/addImage/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addImage</action>
    </route>

    <route id="Admin" path="/admin/addProject/{id}" methods="GET|POST" authorization="STUDENT">
        <action id="controller">PortfolioManagement:addProject</action>
    </route>

    <!-- Authorized grade management -->
    <route id="Admin" path="/admin/cijferAdministratie/{id}" methods="GET" authorization="STUDENT">
        <action id="controller">GradeManagement:gradeManagement</action>
    </route>

    <route id="Admin" path="/admin/cijferOverzicht" methods="GET" authorization="ADMIN">
        <action id="controller">GradeManagement:gradeOverview</action>
    </route>

    <!-- Error routes -->
    <route id="error401" path="/401" methods="GET|POST|PUT|DELETE|CONNECT" authorization="ANONYMOUS_USER">
        <action id="controller">Error:error401</action>
    </route>

    <route id="Error404" path="/404" methods="GET|POST|PUT|DELETE|CONNECT" authorization="ANONYMOUS_USER">
        <action id="controller">Error:error404</action>
    </route>

    <route id="Error405" path="/405" methods="GET|POST|PUT|DELETE|CONNECT" authorization="ANONYMOUS_USER">
        <action id="controller">Error:error405</action>
    </route>

    <route id="Error500" path="/500" methods="GET|POST|PUT|DELETE|CONNECT" authorization="ANONYMOUS_USER">
        <action id="controller">Error:error500</action>
    </route>

    <route id="Error500" path="/500" methods="GET|POST|PUT|DELETE" authorization="ANONYMOUS_USER">
        <action id="controller">Error:error500</action></route>
</routes>