<?xml version="1.0" encoding="UTF-8" ?>
<routes>

    <route id="Home" path="/home" methods="GET|POST">
        <action id="controller">Home:index</action>
    </route>

    <route id="Portefolio" path="/portefolio/{student_name}" methods="GET">
        <action id="controller">Portefolio:index</action>
    </route>

    <route id="Admin" path="/admin">
        <action id="controller">Admin:index</action>
    </route>

    <route id="Error400" path="/400" methods="GET|POST|PUT|DELETE">
        <action id="controller">Error:error400</action>
    </route>

</routes>